<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalproject">
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="10" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalProject">
        <activity android:name=".fifthPage"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".fourthPage"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".thirdPage"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".secondPage"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".firstPage" />
        <activity android:name=".settings"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ListDataActivity"
            android:parentActivityName=".MainActivity"
            />
        <activity android:name=".OneItem"></activity>
        <activity android:name=".ListDataFavourite"
            android:parentActivityName=".MainActivity"/>
        <receiver android:name=".Notification_Receiver">
            <intent-filter>
                <action android:name="singh.ajit.action.DISPLAY_NOTIFICATION"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>